services:
  vue-development:
    build:
      context: .
      target: development # Use the development stage
    image: my-front-development:latest # Image name
    container_name: my-front-development-container # Name of the container
    command: sh /app/start.sh # Command to start Vite dev server
    volumes:
      - ./:/app # Mount the project directory
    ports:
      - 5173:5173 # Vite dev server port
    tty: true # Keep the container running
    stdin_open: true # Keep the container running
    environment:
      VITE_HMR_PORT: 5173 # HMR port for Vite
      VITE_API_URL: http://localhost:8000/api
      VITE_REVERB_APP_KEY: "fr6ej145c0m9njsh6npy"
      VITE_REVERB_HOST: "localhost"
      VITE_REVERB_PORT: "8080"
      VITE_REVERB_SCHEME: "http"
      VITE_REVERB_PATH: ""
  ## This service is for production build, it serves the built files using Apache
  vue-production:
    build:
      context: . # Build context
      target: production # Use the production stage
    image: my-front-production:latest # Image name
    container_name: my-front-production-container # Name of the container
    volumes:
      - ./dist:/usr/local/apache2/htdocs/ # Mount the build output
    ports:
      - 3000:80 # Apache server port