name: CI/CD pipeline
env:
  NGINX_CONFIG: starlink98.cloud
on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Copy files to VPS via SSH
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: 22
          source: "."
          target: "~/starlink98.cloud"
      ## Using rsync for better performance
      # - name: Sync files to VPS via rsync
      #   uses: burnett01/rsync-deployments@7.0.1
      #   with:
      #     switches: -avzr 
      #               --delete 
      #               --exclude='.env' 
      #               --exclude='public/storage/' 
      #               --exclude='storage/app/public/' 
      #               --exclude='storage/app/private/'
      #     path: .
      #     remote_path: ~/ultralink.cloud
      #     remote_host: ${{ secrets.VPS_HOST }}
      #     remote_user: ${{ secrets.VPS_USER }}
      #     remote_key: ${{ secrets.VPS_SSH_KEY }}
      - name: Deploy Backend and Frontend on VPS via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: 22
          script: |
            # Deploy Backend
            cd ~/starlink98.cloud
            docker compose -f docker-compose.prod.yml down || true
            docker compose -f docker-compose.prod.yml up -d --build

            # Deploy Frontend
            cd ~/starlink98.cloud/frontend
            docker compose -f docker-compose.prod.yml down || true
            docker compose -f docker-compose.prod.yml up -d --build

            # Install nginx if not installed
            sudo apt update && sudo apt install -y nginx

            # Overwrite nginx config file
            sudo cp ~/starlink98.cloud/${{ env.NGINX_CONFIG }} /etc/nginx/sites-available/${{ env.NGINX_CONFIG }}
            sudo ln -sf /etc/nginx/sites-available/${{ env.NGINX_CONFIG }} /etc/nginx/sites-enabled/
            sudo rm -f /etc/nginx/sites-enabled/default

            # Test and reload nginx
            sudo nginx -t && sudo systemctl enable nginx && sudo systemctl start nginx && sudo systemctl reload nginx